@import "../../settings.scss";
.current-day-container {
	background-color: $cardBackground;
	color: $cardColor;
	margin-top: 15vh;
	margin-bottom: 5vh;
	border-radius: 15px;
	padding: 1rem;
	.current-title {
		font-size: 2rem;
		font-weight: 600;
		margin-bottom: 0;
		font-family: "Courier New", Courier, monospace;
	}
	.current-day-img {
		width: 8rem;
		display: flex;
		justify-content: center;
	}

	.amount {
		font-size: 4rem;
	}
	.celcius-symbol {
		font-size: 1.5rem;
	}

	.current-time {
		font-size: 1.2rem;
	}

	small {
		font-size: 1rem;
	}
}
