@import "../../settings.scss";

.other-days-card-contaniner {
	background-color: $othersCardBackground;
	color: black;
	padding: 1rem;
	border-radius: 20px;
	width: 8rem;
	box-shadow: 5px 5px #c0c0c048;

	.day {
		font-size: 0.8rem !important;
		font-weight: 700;
	}
}
