$secondary-color: rgba(10, 10, 10, 0.808);
$cardBackground: rgba(10, 10, 10, 0.808);
$cardColor: white;
$othersCardBackground: rgba(230, 230, 230, 0.808);
$sidebarBackground: rgba(211, 211, 211, 0.589);
$mainBackground: #ffffff;
$headerTitleColor: $cardBackground;
