$secondary-color: rgba(10, 10, 10, 0.808);
$cardBackground: rgba(10, 10, 10, 0.808);
$cardColor: white;
$othersCardBackground: rgba(252, 193, 0, 0.836);
$sidebarBackground: rgb(252, 193, 0);
$mainBackground: black;
$headerTitleColor: white;
